@use "../../pages/main.scss";
@use "../../pages/home.scss";

.home__menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 4rem 2rem;
    background: url("/src/assets/img/cake-bg.svg") no-repeat center center;
    background-size: cover;
    .home__menu__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        width: 100%;
        max-width: 600px;
        label {
            width: 100%;
            font-size: 1.5rem;
            font-weight: bold;
            padding-left: 1rem;
        }
        input {
            width: 100%;
            padding: 1rem;
            border-radius: 25px;
            border: 2px solid #ccc;
            font-size: 1rem;
            outline: none;
            transition: all 0.3s ease-in-out;
            &:focus {
                border-color: #ff8c00;
                box-shadow: 0 0 10px rgba(255, 140, 0, 0.5);
            }
        }
    }

    .home__menu__food-rec {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        h2 {
            font-weight: bold;
            margin-bottom: 1rem;
            text-align: center;
        }
        .home__menu__food-rec__container {
            width: 100%;
            display: grid;
            padding: 1rem;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 1.5rem;
            .home__menu__food-rec__container__item {
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: #fff0bd;
                border: 2px solid #c7db9c;
                border-radius: 12px;
                padding: 1rem;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                width: 100%;
                text-align: center;
                a {
                    font-size: 1.2rem;
                    font-weight: bold;
                    color: #333;
                    margin-top: 0.5rem;
                }
                .home__menu__food-rec__container__item__ingredients {
                    display: flex;
                    flex-direction: column;
                    gap: 0.2rem;
                    align-items: flex-start;
                    button {
                        background-color: transparent;
                        border: none;
                        font-size: 1em;
                        cursor: pointer;
                        font-weight: 500;
                    }
                    ul {
                        padding-left: 1.5rem;
                        font-size: 0.9em;
                    }
                }
            }
        }
    }

    .home__menu__food-list {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        justify-items: center;
        align-items: start;
        gap: 1rem;
        padding-top: 2rem;
        h3 {
            color: main.$fifth-color;
        }
        .home__menu__food-list__item {
            width: 100%;
            background-color: #fff0bd;
            border: 2px solid #c7db9c;
            border-radius: 12px;
            padding: 1rem;
            text-align: left;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
            gap: 1rem;
            .home__menu__food-list__item__text {
                h2 {
                    font-size: 1.3rem;
                    font-weight: bold;
                }
                a {
                    font-size: 1rem;
                    color: main.$fourth-color;
                }
            }
            .home__menu__food-list__item__ingredients {
                display: flex;
                flex-direction: column;
                gap: 0.2rem;
                align-items: flex-start;
                button {
                    background-color: transparent;
                    border: none;
                    font-size: 1em;
                    cursor: pointer;
                    font-weight: 500;
                }
                ul {
                    padding-left: 1.5rem;
                    font-size: 0.9em;
                }
            }
            p {
                font-weight: bold;
                color: #333;
            }
        }
    }
}
